@using HaberSitesiBitirmeProjesi.Entity
@model IEnumerable<Articles>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">List News</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Article Id</th>
            <th>Date</th>
            <th>Title</th>
            <th>Category</th>
            <th>Details | Add</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.ArtID</td>
                <td>@item.StartDate</td>
                <td>@item.Title</td>
                <td>@item.Path</td>
                <td>
                    <a href="~/Admin/Article/Details/@item.ArtID" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></a>
                    <a href="~/Article/AddArt/@item.ArtID" class="btn btn-danger"><i class="glyphicon glyphicon-plus"></i></a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>



