@using HaberSitesiBitirmeProjesi.Entity
@model IEnumerable<Articles>
@{
    ViewBag.Title = "News";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Front- Side News</h2>
<table class="table table-responsive table-hover ">
    <thead>
        <tr>
            <th>Article Id</th>
            <th>Date</th>
            <th>Title</th>
            <th>Category</th>
            <th>Details|Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.ArtID</th>
                <th>@item.CreatedDate</th>
                <th>@item.Title</th>
                <th>@item.Path</th>
                <th>
                    <a href="~/Admin/Article/Details/@item.Id" class="btn btn-primary"><i class="glyphicon-edit"></i></a>
                    <a href="~/Article/Delete/@item.Id" class="btn btn-danger"><i class="glyphicon glyphicon-expand"></i></a>
                </th>
            </tr>
        }
    </tbody>
</table>
